*.pyc
*.pyo
*.pyd

results/
Datasets/celebA/
training/
.idea/
__pycache__/
.env
venv/
env/
env.bak/
dist/
build/
*.egg-info/

*.log
*.ini
*.cfg
*.conf

/.venv
/.env

/.venv
/.env
